<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <alert></alert>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>

<!-- credits -->
<div class="text-center">
  <p>
      <a href="#" target="_top">@project4us</a>
  </p>
</div>